

Shanice and Maurice, father/daughter singing act
<p/>

Click on the picture to play this video.
<p/>

<iframe id="nbc-video-widget" width="560" height="315" src="http://www.nbc.com/assets/video/widget/widget.html?vid=1401640" frameborder="0"></iframe>

<li><%= link_to "Return to Minot's Links Page", minot_path %></li>