
<p></p>
 <!--
 might have to put   images/CANYON11.JPG  in production
 so, use it in development also
 -->   	
<div style="position: relative; background: url("CANYON11.JPG");float:left">
<!--
<div class="img-responsive" style="position: relative; background: url("CANYON11.JPG");float:left">
-->
<%= image_tag "CANYON11.JPG", :alt => "Path to Picture not found !!!!!!!!! "%>
<div style="position: absolute; text-align: center; top: 1em; font-weight: bold; color: red;margin-left: auto;margin-right: auto; left: 0; right: 0;">
<p>Memories</p>
</div>
</div>


<!--
<p style="position: absolute; top: 1em; right: 2em; width: 120px; padding: 4px; background-color: #fff; font-weight: bold; font-size: 11px;">
(text to appear at the top right of the image)
</p>
</div>
 width: 660px; height: 540px; 
:size => "660x540",

<div>image_tag "CANYON11.JPG", :size => "660x540",:alt => "Path to Picture not found !!!!!!!!! ", position => "relative", background=> "url(CANYON11.JPG"), width => "500px",
    height: 309px;%>
    </dt>
    
    <dd><span><p>Memories</p></span></dd>
</dl>

width: 400px;

"text-align: center; color: red; position: absolute; margin-left: auto;margin-right: auto; left: 0; right: 0;")
-->    