
<p></p>

<dl class="captioned-image">
    <dt>
 <!--
 might have to put   images/CANYON11.JPG  in production
 so, use it in development also
 -->   	

    	<%= image_tag "CANYON11.JPG", :size => "660x540",:alt => "Path to Picture not found !!!!!!!!! "%>
    </dt>
    
    <dd><span>Memories</span></dd>
</dl>


