
<p></p>

<dl class="captioned-image">
    <dt>
    	<%= image_tag "CANYON11.JPG", :size => "660x540",:alt => "Path to Picture not found !!!!!!!!! "%>
    </dt>
    
    <dd><span>Memories</span></dd>
</dl>


