


Which of these video links will entertain Uncle Sublime the most ?
<p/>

<li><%= link_to "Landau Eugene Murphy Jr's initial audition", minot_landau_path %></li>

<p/>

<li><%= link_to "Grandfather of Rap", grandfather_of_rap_path %></li>

<p/>

<li><%= link_to "Father-Daughter Singing Act", dad_daughter_sing_path %></li>

<p/>

<li><%= link_to "Nurse_Opera_Singer", nurse_opera_sing_path %></li>

<p/>

