<% provide(:title, 'Special Links') %>


<li><%= link_to "Artworks by Diana Davis", "http://dianadavisart.wordpress.com" %></li>

<li><%= link_to "Jewelry by Nelsie Davis", "http://www.nelsiedavis.com" %></li>

<li><%= link_to "Eugene Landau Murphy Audition", murphy_video_path %></li>



