
<p class="sublime_link">Turfs second audition.</p>
<p class="reg_text">
	This video includes a telling bit of history of Turf, and his east coast rival/friend, StepZ,
	who also auditioned and made it to this 2nd stage (in Las Vegas) of the competition.
	</p>
<%#  just the video of Turf's second performance %>
<%# iframe id="nbc-video-widget" width="560" height="345" style="float:left; margin-right:5px" src="http://www.nbc.com/assets/video/widget/widget.html?vid=1407977" frameborder="0"></iframe%>
<iframe width="560" height="345" style="float:left; margin-right:5px" src="http://www.youtube-nocookie.com/embed/iyd3YKiDM2Q?rel=0" frameborder="0" allowfullscreen></iframe>

<p style="clear:both"> </p>

<p class="sublime_link">Go to the bottom of this window to see how everyone did!
	</p>
<br/>

<p class="reg_text">
	But continue to scroll one-by-one below to see more performances!
	</p>
<br/><br/><br/>

<p class="sublime_link">Turfs New York Performance.</p>

<iframe width="560" height="345" style="float:left; margin-right:5px" src="http://www.youtube-nocookie.com/embed/N3Fqt3Ctnlc?rel=0" frameborder="0" allowfullscreen></iframe>
<p class="reg_text">
	Do you think Turf made it to the semifinals?
	</p>
<p style="clear:both"> </p>

<br/><br/><br/>

<p class="sublime_link_clear">Below: My All Time Favorite!</p>
<p class="reg_text">
	When you first click on this video, a message will appear about it being "blocked".
	But then click on the "Watch on YouTube" , and it will play 
	(by automatically opening a new window and playing it on the YouTube website.)
	</p>
<iframe width="560" height="345" style="float:left; margin-right:5px" src="http://www.youtube-nocookie.com/embed/6mtsOwxplrI?rel=0" frameborder="0" allowfullscreen></iframe>
<p class="font_15_bold">This is probably my most favorite of audition videos.<br/><br/> I believe you know all you want to know of Susan Boyle.  But just in case, here is the video that made her a world-wide sensation overnight. <br/><br/>
Skip to the next video if you wish, obviously!!</p>
<p style="clear:both"> </p>

<br/><br/><br/>

<p class="sublime_link_clear">The Nurse Who Sings Opera</p>
<iframe id="nbc-video-widget" width="560" height="345" style="float:left; margin-right:5px" src="http://www.nbc.com/assets/video/widget/widget.html?vid=1401885" frameborder="0" allowfullscreen></iframe>
<p class="font_15_bold">Another wonderful moment by the underdog!!!</p>
<p style="clear:both"> </p>


<br/><br/><br/>

<p class="sublime_link_clear">William Close: unique as they get. </p>

<iframe width="560" height="345" style="float:left; margin-right:5px" src="http://www.youtube-nocookie.com/embed/6sDfxI8pl2A?rel=0" frameborder="0" allowfullscreen></iframe>
<p style="clear:both"> </p>  

<br/><br/><br/>

<p class="font_15_bold">william Close automatically advanced to New York. Here is what happened there. </p>
<iframe width="560" height="345" style="float:left; margin-right:5px" src="http://www.youtube-nocookie.com/embed/G8rPxbuazOs?rel=0" frameborder="0" allowfullscreen></iframe>
<p style="clear:both"> </p>  

<br/><br/><br/>
<p class="sublime_link_clear">Shanice and Maurice, father/daughter singing act.<br/>Ill let these three videos tell their story. </p>
<iframe id="nbc-video-widget" width="560" height="345" style="float:left; margin-right:5px" src="http://www.nbc.com/assets/video/widget/widget.html?vid=1401640" frameborder="0"></iframe>

<p class="font_15_bold">VERY FINE ENTERTAINMENT!!</p>
<p style="clear:both"> </p>  

<br/><br/><br/>
<p class="reg_text">
	Their second audition in Vegas.
	</p>
<iframe id="nbc-video-widget" width="560" height="345"  style="float:left; margin-right:5px"  src="http://www.nbc.com/assets/video/widget/widget.html?vid=1407766" frameborder="0"></iframe>
<p style="clear:both"> </p>  

<br/><br/><br/>
<p class="reg_text">
	Yes they made it to New York's live show, and here's their performance!
	</p>
<iframe width="560" height="345" style="float:left; margin-right:5px" src="http://www.youtube-nocookie.com/embed/AaLwtfb5884?rel=0" frameborder="0" allowfullscreen></iframe>
<p style="clear:both"> </p>  

<br/><br/><br/>

<p class="sublime_link_clear">How'd they all do? </p>

<p class="reg_text">
	Turf, and Shanice and Maurice, and William Close made it to the semifinals.<br/><br/>
	Unfortunately, The Nurse Who Sings Opera, didnt perform as well in Vegas.<br/>
	He didn't mess up, but he said he got too tense for him to be at his best.
<br/><br/>The Semifinals begin Tuesday, Aug. 14, 2012, on NBC.
	</p>

<li><%= link_to "Back to the Start", unc_sub_home_path %></li>
