<h1>Landau Eugene Murphy Jr</h1>
<p class="reg_text"> went on to win the 2011 America's Got Talent show.<br/>His first album came out in late 2011 and is doing well. <br/>His tour and other singing engagements are also proving to be successes.
<br/><br/> To read his biography on his website, go to 
<%= link_to "Landau Eugene Murphy Jr's biography", "http://www.landaumurphyjr.com/biography",{:style => "background-color:darkblue;color:red"}%></p>

<%#span style='color:aqua; background-color:darkblue; font-size:20px', class="label label-info btn-large"></span%>

<p class="blueback_text">To learn about the Grandfather of Rap,<br/>
FIRST:   READ the NOTES on the RIGHT of the VIDEO.<br/>
Then click on the picture to play this video.
</p>


<iframe id="nbc-video-widget" width="560" height="345" style="float:left; margin-right:5px" src="http://www.nbc.com/assets/video/widget/widget.html?vid=1402820" frameborder="0"></iframe>

<p style='max-height:375px; padding-left:5px ;overflow:auto; font-size:17px; line-height:135%'>
NOTE:  This Video, and maybe all others viewed here,
unfortunately have a SHORT AD THAT FIRST PLAYS.
<br/><br/>
You will not be able to adjust the volume during the AD,
so <br/>ADJUST VOLUME NOW <br/>if necessary.  
<br/><br/>
After the ad, the desired video will begin playing,
and you will be able to adjust volumn at any time.
</p>

<div class="hero-unit" style='clear:both'>
	<h1>Uncle Sublime !</h1>
    <p>To Learn what has become of the GRANDFATHER OF RAP,<br/>
    or to <br/>
    Meet TURF !!! </p>
  <p >
    <a href= <%= turf_path%> class="btn btn-primary btn-large" >
                CLICK HERE 
    </a>
  </p>
</div>

