
<%#span style='color:aqua; background-color:darkblue; font-size:20px', class="label label-info btn-large">Uncle Sublime,</span%>

<%#style='color:aqua; background-color:darkblue; font-size:20px; line-height:140%; padding-left:5px; margin-top:5px'%>
<p class="blueback_text" > I am hoping you are able to view videos OK on the internet.<br/>
If maybe you are, then CLICK on the picture to try playing this video.</p>

<iframe width="560" height="385" style="float:left; margin-right:5px" src="http://www.youtube-nocookie.com/embed/v6LOSEzo1QA?rel=0" frameborder="0" allowfullscreen></iframe>

<p style='max-height:375px; padding-left:5px ;overflow:auto; font-size:17px; line-height:135%'>
If you find the video to be too jerky, try pausing it for say, 15 seconds.
<br/><br/>
Pause by moving your cursur to the bottom left of the video,<br/>
and then clicking on the || symbol that will appear.
<br/><br/>
Continue playing it again by clicking the arrow that will appear in the same spot.
</p>


<%# style='color:aqua; background-color:darkblue;clear:both'%>

<div class="hero-unit testhero"  >
	<h1>Uncle Sublime !</h1>
    <p>To Learn what has become of Landau,<br/>
    and to <br/>
    Meet the GRANDFATHER OF RAP !!! </p>
  
    <a href= <%= gofrap_path%>  class="btn btn-primary btn-large" >
                CLICK HERE 
    </a>

</div>


style='clear:both'