
<h1>The Grandfather of Rap went BUST!!</h1>
<p class="reg_text"> Turns out he was basically a one trick pony. His next audition, in front of judges only,
	was laughable, except one was disappointed, bored and not laughing.  It was a bit repetitve, and inferior in every way to his first audition, which you just saw.
<br/><br/> The video below will introduce you to TURF!  Dont worry, if you felt betrayed by me getting you to watch the Grandfather of Rap. I will tell you now that TURF has proved more successful !!!
</p>
<%#span style='color:aqua; background-color:darkblue; font-size:20px', class="label label-info btn-large">
Uncle Sublime,</span%>
<p class="blueback_text"> To view TURF's first audition,  <br/>
click on the picture to play this video.</p>

<iframe id="nbc-video-widget" width="560" height="345" style="float:left; margin-right:5px" src="http://www.nbc.com/assets/video/widget/widget.html?vid=1401899" frameborder="0"></iframe>


<p style='max-height:375px; padding-left:5px ;overflow:auto; font-size:17px; line-height:135%'>
NOTE:  This Video, and maybe all others viewed here,
unfortunately have a SHORT AD THAT FIRST PLAYS.
<br/><br/>
You will not be able to adjust the volume during the AD,
so <br/>ADJUST VOLUME NOW <br/>if necessary.  
<br/><br/>
After the ad, the desired video will begin playing,
and you will be able to adjust volumn at any time.
</p>

<div class="hero-unit" style='clear:both'>
	<h1>Uncle Sublime !</h1>
    <p>We havent even gotten to my very favorite videos yet!<br/>
      To see a list of links to other videos with brief descriptions,<br/>
      and also a link to Turfs next performance,<br/>
      click below.
    <p >
    <a href= <%= boyle_path%> class="btn btn-primary btn-large" >
                CLICK HERE 
    </a>
  </p>
</div>

