

<div id="draggable" style="position:relative;z-index:60;"><%= image_tag "MtSee.jpg", style: "border:5px solid black;", id:"picid", size: "65x50" ,:alt=> "Path to Picture not found !!!!!!!!! "%>
</div>


<div id="resize2" class="ui-widget-content"  style="z-index:70;">
</div>

<p> nelson test </p>
style: "border:5px 