<h1>Experiments#pic_drag</h1>
<p>Find me in app/views/experiments/pic_drag.html.erb</p>

<div id="draggable" >

<%#div id="draggable" class="ui-widget-content"%>

<%= image_tag "MtSee.jpg", :size => "300x225",:alt => "Path to Picture not found !!!!!!!!! "%>
<%#= image_tag "MtSee.jpg", :alt => "Path to Picture not found !!!!!!!!! "%>

<%#below would be the line per HTML %>
<%#img src="/MtSee.jpg" alt="Path to Picture not found !!!!!!!!! " width="304" height="228"/%>

</div>
<p> nelson test </p>
